h2{
    font: $dos;
    color: $azul;
    text-align: center;
    font-size: 1.5rem;
}

p{
    font: $tres;
    color: white;
    line-height: 1.5;
    text-align: justify;
    padding: 1em;
}
h6,h4{
    text-align: center;
    padding: 1.5em;
    line-height: 2;
    font-size: 1.3rem;
}


