.index__main{
        h1{
            font: $uno;
            color: $azul;
    }
        h3{
            font: $uno;
            color: $amarillo;
    }
        p{
            font: $cuatro;
            color: $amarillo;
            padding: 1em;
    }
}